@import "bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}